<main id="main" class="container mt-3">
    <section class="text-center">
        <h2>{{title}}</h2>
    </section>
    <section class="mt-3 mb-5">
        <div id="divProducts" class="row d-flex flex-row justify-content-center">
            {{#each data.payload}}
            <article id="pid_{{this.id}}" class="card cardProducto">
                <img src="{{this.thumbnails}}" class="card-img-top p-2">
                <div class="card-body cardBodyProducto">
                    <h3 class="card-title cardTitleProducto">{{this.title}}</h3>
                    <p class="card-text cardTextProducto">{{this.description}}</p>
                    <p class="card-text cardTextProducto">{{this.category}}</p>
                    <p class="card-text cardTextProducto">${{formatDecimal this.price}}</p>
                </div>
                <div class="card-footer">
                    <input type="button" class="btn btn-danger m-1" value="Delete"
                        onclick="deleteProduct('{{this.id}}')" />
                </div>
            </article>
            {{/each}}
        </div>
    </section>
    <section class="mt-4 row justify-content-center">
        <h2 class="formTitle mb-4 text-center">Create new Product</h2>
        <form id="formProduct" class="container">
            <div class="mb-3">
                <label for="title" class="form-label formLabel">Title</label>
                <input type="text" class="form-control formControl" id="title" required />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label formLabel">Description</label>
                <input type="text" class="form-control formControl" id="description" required />
            </div>
            <div class="mb-3">
                <label for="code" class="form-label formLabel">Code</label>
                <input type="text" class="form-control formControl" id="code" required />
            </div>
            <div class="mb-3">
                <label for="price" class="form-label formLabel">Price</label>
                <input type="number" class="form-control formControl" id="price" required step="any" min="1" />
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label formLabel">Stock</label>
                <input type="number" class="form-control formControl" id="stock" required min="1" />
            </div>
            <div class="mb-3">
                <label for="category" class="form-label formLabel">Category</label>
                <select id="category" name="category" class="form-select formControl">
                    {{#each categories}}
                    <option value="{{this.value}}">{{this.title}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn formButton">Create</button>
            </div>
        </form>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>

</main>